/* App.css */

.app-layout {
  display: flex;
  height: 100vh;
  background-color: #011222;
  color: #333;
  font-family: "Poppins", sans-serif;
}

/* Sidebar styles */
.sidebar {
  width: 230px;
  background-color: #011222;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.sidebar .logo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  color: #4dd0e1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  transition: background 0.2s, padding-left 0.2s;
  padding: 8px 10px;
  border-radius: 8px;
}

.sidebar a:hover {
  background-color: #011222;
  padding-left: 18px;
}
.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}


/* Main content area */
.content {
  flex: 1;
  background-color: #011222;
  padding: 30px;
  overflow-y: auto;
}
